
{{ form_start(form) }}
<form class="container-fluid">

    <div class="form-group row justify-content-center text-center">
        <div class="col-md-6 mb-3 mt-5">
            {{ form_label(form.title) }}
            {{ form_widget(form.title , {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group row justify-content-center text-center">
        <div class="col-md-3 .offset-md-3 mt-5 mb-3">
            {{ form_label(form.date_start) }}
            {{ form_widget(form.date_start, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-3 .offset-md-3 mt-5 mb-3">
            {{ form_label(form.date_end) }}
            {{ form_widget(form.date_end, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group row justify-content-center text-center">
        <div class="col-md-2  mt-5 mb-3">
            {{ form_label(form.address) }}
            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2  mt-5 mb-3">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2  mt-5 mb-3">
            {{ form_label(form.post_code) }}
            {{ form_widget(form.post_code, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group row justify-content-center text-center">
        <div class="col-md-2  mt-5 mb-3">
            {{ form_widget(form) }}
            <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>


</form>


{{ form_end(form) }}
