<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        {% if is_granted('ROLE_JURY') %}
        <div class="row logoHeader MenuBackOffice justify-content-center align-items-center text-center navBarMini">
            <a class=" text-center p-2 logoBackOffice effetLogo" href="{{ path('home') }}" title="Retour Accueil">
                <div class="logo-flip-box"  >
                    <div id="logo-front-side">
                        <img class="logo-front-side text-center p-2 logo" src="{{ asset('pics/simplonBLC.png') }}" alt="logo simplon">
                    </div>
                    <div id="logo-back-side">
                        <img class="logo-back-side text-center p-2 logo" src="{{ asset('pics/simpsonne.png') }}" alt="donut simpson">
                    </div>
                </div>
                <img alt="logo Simplon Carcassonne" src="{{ asset('pics/logoSimplonCarcassonne.png') }}">
            </a>
            {% if currentUser %}
            <div class="icon-label"> Bienvenue {{currentUser.name}}</div>
            {% endif %}
            <div class="blockIconBackOffice">
                <div id="iconBackOffice">
                    <a class="text-center icon my-3" href="{{ path('selection_index') }}" title="Sélections">
                      <div class="justify-content-center">
                        <i class="fa fa-graduation-cap fa-2x"></i>
                      </div>
                      <div class="icon-label justify-content-center">
                        Sélections
                      </div>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="text-center icon my-3" href="{{ path('candidate_index') }}" title="Candidats">
                      <div class="justify-content-center">
                        <i class="fa fa-address-card fa-2x"></i>
                      </div>
                      <div class="icon-label justify-content-center">
                        Candidats
                      </div>
                    </a>

                        <a class="text-center icon my-3" href="{{ path('user_index') }}" title="Utilisateurs">
                            <div class="justify-content-center">
                                <i class="fa fa-users fa-2x"></i>
                            </div>
                            <div class="icon-label justify-content-center">
                                Utilisateurs
                            </div>
                        </a>
                    {% else %}
                    {% endif %}
                    <a class="text-center icon my-3" href="{{ path('app_logout') }}" title="Admin">
                      <div class="row justify-content-center">
                        <i class="fa fa-cog fa-2x"></i>
                      </div>
                      <div class="icon-label justify-content-center">
                        Déconnexion
                      </div>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
            <div class="row logoHeader justify-content-center align-items-center text-center navBarMini">
                <a class="text-center p-2 logo effetLogo" href="{{ path('home') }}" title="Retour Accueil">
                    <div class="logo-flip-box mb-3">
                        <div id="logo-front-side">
                            <img class="logo-front-side text-center p-2 logo" src="{{ asset('pics/simplonBLC.png') }}" alt="logo simplon">
                        </div>
                        <div id="logo-back-side">
                            <img class="logo-back-side text-center p-2 logo" src="{{ asset('pics/simpsonne.png') }}" alt="donut simpson">
                        </div>
                    </div>
                    <img alt="logo Simplon Carcassonne" src="{{ asset('pics/logoSimplonCarcassonne.png') }}">
                </a>
                <div class="mt-3">
                    <div id="icons" >
                        <a class="text-center icon" href="https://saunier-francois.yo.fr/Eval3Groupe1/index.php" title="Promo 2018/2019" target="_blank">
                          <div class="justify-content-center">
                            <i class="fa fa-home  fa-2x"></i>
                          </div>
                          <div class="icon-label justify-content-center">
                            Fabrique de Carcassonne
                          </div>
                        </a>
                        <a class="text-center icon mt-4" href="https://simplon.co/occitanie/" title="Simplon Occitanie" target="_blank">
                          <div class="justify-content-center">
                            <i class="fa fa-heart  fa-2x"></i>
                          </div>
                          <div class="icon-label justify-content-center">
                            Simplon Occitanie
                          </div>
                        </a>
                        <a class="icon " data-target="#exampleModalCenter" data-toggle="modal" id="connectionLink" title="Espace Administration">
                          <div class="justify-content-center mt-5">
                            <i class="fa fa-cogs fa-2x"></i>
                          </div>
                          <div class="icon-label row justify-content-center">
                            Connexion
                          </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
      </div>
    </nav>

</header>
{% include 'headers/_login_modal.html.twig' %}
